

:root{
        /* Основные шрифты */
        --main-font: 'Roboto', sans-serif;
        --secondary-font: 'Raleway', sans-serif;

        /* Цвет текста */
        --primary-text-color: #212121;
        --secondary-text-color: #757575;
        --white-text-color: #ffffff;
        --footer-contacts-text: rgba(255, 255, 255, 0.6);
        --accent-text-color: #2196f3;

        /* Цвет фона */
        --background-color: #ffffff;
        --secondary-backgraund-color: #f5f4fa;
        --dark-background-color: #2f303a;
        --card-border: 1px solid #eeeeee;
        --card-list-gap: 15px;
    }


body {
   font-family: var(--main-font);
   font-size: 16px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   color: var(--primary-text-color);
   background-color: var(--background-color);
   
}
.link:hover{
    color: var(--accent-text-color);
}

.container{
width: 1200px;
margin-right:auto;
margin-left: auto;
padding: 0 15px;
}

.hero{
    text-align: center;
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 92, 58, 0.4)),
    url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    max-width: 1600px;
    margin: 0 auto;
    background-size: auto;

}
p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
ul,
ol{
    margin: 0;
    padding: 0;    
    list-style: none;
}
.link:focus{
    color: var(--accent-text-color);
    ;
}

  
.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
   
    
    
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}


.nav-link {
padding-top: 32px;
padding-bottom: 32px;
display: block;


color: var(--primary-text-color);

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.current {
    color: var(--accent-text-color);
}

/* Контакты в хедере */
.header-phone,
.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    list-style-type: none;
    
}
.logo-accept{
    color: var(--accent-text-color);
}
.header-phone.link:hover
.header-phone.link:focus{
    color: var(--accent-text-color) ;
}
.hero-title {
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    /* or 136% */
    letter-spacing: 0.06em;
    

    color: #FFFFFF;
    margin-bottom: 40px;
}


.hero-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    
    
   
}

.hero-button:hover {
    background-color: #188ce8;
    
}



.features-title {
   margin-bottom: 10px;
   margin-top: 0px;
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;

   
    color: var(--primary-text-color);
}

.feature-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */

    letter-spacing: 0.03em;

    

    color: var(--secondary-text-color);
}

.services-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.team-names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--secondary-text-color);
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    margin-top: 10px;

}

/* Страница портфолио main */
/* Фильтр кнопки*/
.filter-button {
    padding: 6px 22px;
    border-radius: 4px;
    border: 0;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--primary-text-color);
    background-color: #f5f4fa;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Секция projects" */
.projects-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
    margin-top: 0px;
}

.projects-text {
    font-size: 16px;
    line-height: 1.87;
    color: var(--secondary-text-color);
}

.projects-title:hover,
.projects-text:hover,
.projects-title:focus,
.projects-text:focus {
    color: var(--accent-text-color);
}

.footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
   
}
.footer-logo{
   font-family: Raleway;
   font-style: normal;
   font-weight: bold;
   font-size: 26px;
   line-height: 1.19;
   /* identical to box height */

   letter-spacing: 0.03em;
   text-decoration: none;
   
}
.footer-list{
    list-style: none;
}
.footer-item {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}
.footer-adress-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #FFFFFF;
    text-decoration: none;


}
.footer-mail-link {
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
   text-decoration: none;
}
.footer-tel-link{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;


}
span{
    color: #000;
     var(--white-text-color)
}
.link{
   text-decoration: none;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.Studio{
    color: #FFFFFF;
}
.footer-adress{
    font-style: normal;
}
.header-contact-list{
    display: flex;
    
    margin-left: auto;
}
.projects-item-list
{
    list-style-type: none;
}
.nav-list-list{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    margin-left: 93px;
    
}
.nav-list-list .nav-item{
    margin-right: 50px;
}
.nav-list-list .nav-item:last-child{
    margin-right: 0px;
}

.header-contact-list .header-contact-item + .header-contact-item{
    margin-left: 50px;
}
.nav{
    display: flex;
    align-items: center;
}

.header {
 border-bottom: 1px solid 
#ECECEC ;

}
    


.page-header{
    display: flex;
    align-items: center;
    
}

.features-list{
    display: flex;
   
    
}
.services-list{
    display: flex;
}
.team-list{
   display: flex;
     
}
.services-item{
    margin-right: 30px;
}
.services-item:last-child{
    margin-right: 0px;
}
.team-iteam {
    margin-right: 30px;
    margin-left: 0px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
    

}
.flex-elements{
    display: flex;
}


.projects-item {
    margin-right: 30px;
    margin-bottom: 30px;
    }

.projects-item:nth-child(3n) {
    margin-right: 0;
}
.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}

.feature-item{
    margin-right: 30px;
    width: 270px;
}

.feature-item:last-child{
    margin-right: 0px;
}
.services{
    padding-top: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.team{
    background-color: #F5F4FA;
}
.team-iteam:last-child{
    margin-right: 0px
}
.projects{
    display: flex;
    flex-wrap: wrap;
}
.worker{
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-names {
    
    text-align: center;
}
.footer-item{
    margin-bottom: 9px;
}
.footer-item:last-child{
    margin-bottom: 0px;
}
footer a.footer-logo {
    display: block;

    margin-bottom: 20px;
    margin-right: 0;
}
.filter-iteam{
    margin-right: 8px;
}

.projects-item:nth-last-child(-n+3){
    margin-bottom: 0px;
}
.thumb-icons {
    margin-right: 10px;
    fill: currentColor;
}
.thumb {
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 0px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    left: 1115px;

}
.thumb-icons {
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-join{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  
}

.worker-media-list:last-child{
    margin-right: 0;
}
.worker-media-list{
    width: 44px;
    height: 44px;
    margin-right: 10px;
    
}
.worker-media{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    width: 100%;
    border-radius: 50%;
    background-position: center;
    background-size: 20px;
    padding: 0;
    }

.worker{
    padding-top: 30px;
}
.clients {
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-list {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.clients-logo {
    width: 170px;
    height: 92px;
    margin-right: 30px;
    list-style: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo:last-child {
    margin: 0;
}

.clients-logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #AFB1B8 ;
}



.clients-logo-icon:hover ,
.clients-logo-icon:focus {
  fill: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.clients-logo:focus {
    fill: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
  border-color: var(--accent-text-color);
}
.clients-title{
       margin-bottom: 50px;
       font-weight: 700;
       font-size: 36px;
       line-height: 1.17;
}
.worker-media-list:hover
.worker-media-list:focus{
  background-color: #2196f3;
  border-radius: 50%;
}

  


.projects-link.link:hover,
.projects-link.link:focus{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}


.social-footer {
    
    margin-left: 70px;
    
    
}
.socials-footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.social-footer-iteam {
    display: flex;
    padding: 0px;
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 10%);
    justify-content: center;
    align-items: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer-iteam:not(:last-child) {
    margin-right: 10px;
}
.social-footer-link {
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-link{
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
                
    }

.social-footer-iteam:hover,
.social-footer-iteam:focus {
 background-color: var(--accent-text-color);
 }  
  
.worker-media-list-icon:hover,
.worker-media-list-icon:focus{
    background-color: var(--accent-text-color);
    border: none;
    border-radius: 50%;
   
    
}

.header-mail.link{
display: flex;
align-items: center;
}
.header-phone.link{
 display: flex;
 align-items: center;   
}
.feature-thumb{
     display: flex;
    align-items: center;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    justify-content: center;
}
.worker-media-list-icon{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items:center ;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-container{
    display: flex;
    align-items: baseline;
}
.projects-link.link{
    display: block;
    
}
.card{
    border: 1px solid var(--card-border);
    background: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding: 20px 24px;
}
.worker-icon{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.worker-media-list-icon:hover .worker-icon,
.worker-media-list-icon:focus .worker-icon
{
    fill:#FFFFFF;
}
.footer-icon{
fill: 
#FFFFFF;
width: 20px;
height: 20px;
}
.current{
    position: relative;
}
 .current::after{
      content: "";

  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}
.services-item{
    position: relative;
}
.services-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--background-color);
    background-color: rgba(47, 48, 58, 0.8);
}
.projects-link.link:hover .projects-descr,
.projects-link.link:focus .projects-descr{
    transform: translateY(0%);
    transition-duration: 250ms;
}
.projects-overlayy{
    position: relative;
    overflow: hidden;
    }
.projects-descr{
    position: absolute;
    top: 0;
    left: 0;
    font-weight:400 ;
    font-size: 18px;
    line-height: 1.56;
    color: var(--background-color);
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 63px 24px;

    }
    /* Модальное окно */
    .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1),
    pointer-events 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
 opacity:0 ;
 visibility: hidden;
 pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: scaleY(0);
}

.modal{
position: absolute;
top: 50%;
left: 50%;
transform: scaleY(1);
transform: translate(-50%, -50%);
width: 528px;
height: 581px; 
background-color:var(--background-color); 
opacity: 1;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
animation: animate125 3000ms infinite 1000ms;
}



.close-btn {
   position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    border-radius: 50%;
    background-color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
    


/* Форма футера */
 .form-footer{
    margin-left: 93px;
    
}
.form-footer-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-bottom: 20px;
}
.from-footer-field{
    display: flex;
    align-items: center;
}
.from-footer-field input{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
    border-radius: 4px;
    background: #2F303A;
    color: var(--primary-text-color);
    padding-left: 16px;
    outline: transparent;
}
.form-footer-button{
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: var(--background-color);
    display: flex;
    align-items: center;
    padding: 13px 28px 13px 29px;
    text-align: center;
    letter-spacing: 0.06em;
    margin-left: 12px;
}
.form-footer-icon{
    width: 24px;
    height: 24px;
    margin-left: 10px;
    
}
/* Форма модалки */
.form{
    padding: 40px;
}
.title-form{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

    
    margin-bottom: 12px;
}
.from-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}
 .from-field input{ 
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   padding-left: 42px;
    outline: transparent;
    color: var(--primary-text-color);
}
.from-field label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color:var(--primary-text-color);
    margin-bottom: 4px;
}
.from-field textarea{
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    height: 120px;
    transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    color: var(--primary-text-color);
}
textarea {
    resize: none;
}
.form-comment{
    padding-left: 16px;
    padding-top: 12px;

}
.from-field textarea::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}
.form-button{
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 55px 10px 56px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    border: none;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}
.form-button:hover{
    background: #188CE8;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.from-field-checkbox{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
   
}

.from-field-checkbox label{
     position: relative; 
     margin-left: 36px; 
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color:var(--primary-text-color);

}
.checkbox{
    appearance: none; 
    position: absolute; 
}

.checkbox-icon-svg{
     position: absolute; 
     left: -36px;
    width: 16px;
    height: 15px;
    border: 2px solid #2a2a2a;
    border-radius: 4px;
    fill:var(--accent-text-color);
    margin-left: 12px;
}
.checkbox:checked ~ .checkbox-icon-svg{ 
    background fill :var(--accent-text-color);
    border-color:var(--accent-text-color);
    background-color:var(--accent-text-color);
    background-origin :border-box;
    background-size :contain;
    
}

.policy{
    color: var(--accent-text-color);
    margin-right: 11px;
    margin-left: 4px;
    text-decoration: underline;
}

.form-icon{
    display: flex;
    align-items: center;
    justify-items: center;
    width: 18px;
    padding-top: 3px;
    height: 18px;
    position: absolute; 
    left: 12px;
    bottom: 11px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.from-field input:hover,.from-field input:focus{
    border-color: var(--accent-text-color);
    transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.from-field input:hover ~.form-icon, .from-field input:focus ~.form-icon{
    fill:var(--accent-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.from-field textarea:hover{
    border-color: var(--accent-text-color);
    transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox{
    appearance: none; 
    position: absolute; 
}
.close-btn:hover{
    color: var(--accent-text-color);
}


.icon-button-svg:hover{
    fill: var(--accent-text-color);
    transition: fill var(--anim-fast);
}
.from-field:nth-child(5){
    margin-bottom: 0px;
}
.adress{
    flex-grow: 1;
}
.from-field label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: 
#757575;
    margin-bottom: 4px;
}